<?xml version="1.0"?>
<config>
    <modules>
        <Ml_Testimonials>
            <version>0.1.0</version>
        </Ml_Testimonials>
    </modules>
    <global>
        <models>
            <ml_testimonials>
                <class>Ml_Testimonials_Model</class>
                <resourceModel>ml_testimonials_resource</resourceModel>
            </ml_testimonials>
            <ml_testimonials_resource>
                <class>Ml_Testimonials_Model_Resource</class>
                <entities>
                    <testimonials>
                        <table>testimonials</table>
                    </testimonials>
                </entities>
            </ml_testimonials_resource>
        </models>
        <blocks>
            <ml_testimonials>
                <class>Ml_Testimonials_Block</class>
            </ml_testimonials>
        </blocks>
        <helpers>
            <ml_testimonials>
                <class>Ml_Testimonials_Helper</class>
            </ml_testimonials>
        </helpers>
        <resources>
            <ml_testimonials_setup>
                <setup>
                    <module>Ml_Testimonials</module>
                </setup>
            </ml_testimonials_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ml_testimonials before="Mage_Adminhtml">Ml_Testimonials_Adminhtml</ml_testimonials>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <ml_testimonials>
                <use>standard</use>
                <args>
                    <frontName>testimonials</frontName>
                    <module>Ml_Testimonials</module>
                </args>
            </ml_testimonials>
        </routers>
        <layout>
            <updates>
                <ml_testimonials>
                    <file>ml_testimonials.xml</file>
                </ml_testimonials>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <testimonials_tab module="ml_testimonials">
                <title>Testimonials</title>
                <sort_order>80</sort_order>
                <action>/testimonials</action>
            </testimonials_tab>
        </menu>
    </adminhtml>
</config>